@charset "utf-8";

body {
	min-width: 345px;
	font-size: 20px;
	line-height: 18px;
}

.b-btn{
	display: inline-block;
	text-align: left;
	color: #FFF;
	padding: 17px 24px 15px;
	border-radius: 3px;
	border: 1px solid #fece0b;
	font-family: 'Geometria-Medium';
	font-size: 16px;
	line-height: 20px;
}

.b-wide-block {
    position: relative;
    max-width: 1600px;
    width: 100%;
    min-width: 1160px;
    margin: 0px auto;
    /*background-color: #FFF;*/
}

.b-block {
    width: 100%;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

h1.b-title{
	font-family: 'Merel-Medium';
	font-size: 56px;
	line-height: 56px;
	color: #FFF;
	margin-bottom: 40px;
}

h2.b-title{
	font-family: 'Merel-Medium';
	font-size: 48px;
	line-height: 60px;
	color: #3b3636;
	margin-bottom: 6px;
}

h3.b-title{
	font-family: 'Merel-Medium';
	font-size: 36px;
	line-height: 36px;
	color: #3b3636;
}

h4{
	font-family: 'Merel-Medium';
	font-size: 32px;
	line-height: 32px;
	color: #3b3636;
}

input{
	padding: 15px 24px;
	border: 1px solid #ffffff;
	border-radius: 3px;
	background-color: transparent;
	color: #FFF;
	font-family: 'Merel-Regular';
	font-size: 16px;
}

/*-----------------------*/

.mobile-hide{
	display: none;
}

.b-screen-head .b-screen-content,
.b-screen-about .b-screen-content,
.b-screen-services .b-screen-content,
.b-screen-geography .b-screen-content,
.b-screen-contacts .b-screen-content{
	padding-top: 0;
}

.b-screen-menu .b-screen-back{
	background-position: 3% 50%;
}

.b-requisites .b-btn-download {
    position: static;
    top: auto;
    right: auto;
    margin-top: 24px;
}
.b-requisites-list{
	margin-top: 16px;
}

.b-requisites-item-left{
	width: 50%;
}

.b-requisites-item-right{
	width: calc(50% - 5px);
}

.b-geography-map{
	width: 94%;
	margin-left: 3%;
}

.legend-item {
    margin-bottom: 6px;
    margin-right: 24px;
}

.dot-yellow{
	width: 8px;
	height: 8px;
	margin-left: -4px;
	margin-top: -4px;
}

.dot-white{
	width: 6px;
	height: 6px;
	margin-left: -3px;
	margin-top: -3px;
}

.dot-white-small{
	width: 3px;
	height: 3px;
	margin-left: -1px;
	margin-top: -1px;
}

.services-list {
    margin-top: 34px;
}

.services-item{
	width: calc(100%/2 - 18px);
    margin-bottom: 24px;
    margin-bottom: 24px;
}

.services-item:nth-child(2n){
	margin-right: 0;
}

.services-item:last-child,
.services-item:nth-last-child(2){
	margin-bottom: 0;
}

.services-item:last-child{
    margin-bottom: 0;
}

	.services-item img{
		width: 72px;
	}

	.services-item p {
	    font-size: 20px;
	    line-height: 24px;
	    margin-top: 12px;
	}

.b-map{
	display: none;
}

.b-contacts-item{
	float: none;
	width: 100%;
}

.b-map-block {
	float: none;
    width: 100%;
}

.b-map-city{
	width: 116%;
}

.b-map-city .b-btn-city {
    margin-top: 32px;
    margin-right: 0;
    border: 0;
    font-family: 'Merel-Regular';
    padding: 5px 12px 9px;
}

.b-contacts-body{
	font-size: 16px;
	line-height: 24px;
	margin-top: 26px;
}

.b-screen-about .b-screen-content p{
	width: calc(100% - 34px);
	margin-top: 16px;
}

@media screen and (max-width: 640px){

	.b-geography-legend{
		text-align: left;
		margin-top: 37px;
	}

	.legend-item {
		display: block;
	    margin-bottom: 14px;
	    margin-right: 0;
	}

	.b-screen .b-btn{
		margin-top: 24px;
	}

}

@media screen and (max-width: 580px){

	h1.b-title{
		font-size: 32px;
		line-height: 36px;
		margin-bottom: 24px;
	}

	h2.b-title{
		font-size: 28px;
		line-height: 36px;
		margin-bottom: 4px;
	}

	.b-screen-about .b-screen-content,
	.b-screen-services .b-screen-content,
	.b-screen-geography .b-screen-content,
	.b-screen-contacts .b-screen-content{
		padding-top: 12px;
	}

	.b-screen-head .b-screen-content{
		padding-bottom: 12px;
	}

	.b-screen-head .b-screen-back{
		background-position: 39% 0;
    	background-size: auto 108%;
	}
	.b-screen-about .b-screen-back,
	.b-screen-geography .b-screen-back{
		background-position: 0% 15%;
	}
	.b-screen-services .b-screen-back{
		background-position: 12% 15%;
	}
	.b-screen-contacts .b-screen-back{
		background-position: 56% 15%;
	}

	.b-screen-geography h2.b-title{
		margin-bottom: 21px;
	}

	.b-screen h4{
		font-size: 18px;
		line-height: 24px;
		font-family: 'Merel-Regular';
	}

	.b-posts-item {
	    width: 100%;
	    margin-right: 0;
	    margin-bottom: 32px;
	}

	.b-geography-map{
		margin-left: 0;
	}

	.b-popup form .wrap-input{
		width: 100%;
		margin-right: 0;
		margin-bottom: 15px;
	}

	.b-popup form .wrap-input:last-of-type{
		margin-bottom: 0;
	}

	.b-screen-head .b-screen-content p{
		width: 100%;
		font-size: 16px;
		line-height: 24px;
		margin-top: 0;
	}

	.b-screen-about .b-screen-content p{
		font-size: 16px;
		line-height: 24px;
	}

	.b-screen-contacts h4{
		font-size: 20px;
		color: #fece0b;
	}

	.b-screen-contacts .b-btn{
		margin-top: 28px;
	}

}

@media screen and (max-width: 475px){

	.b-logo{
		width: 230px;
    	height: 51px;
	}

	.main-page .b-block-menu{
		padding-top: 24px;
	}

	.b-requisites-item{
		padding-top: 12px;
	}

		.b-requisites-item-left{
			width: 100%;
			font-family: 'Merel-Medium';
			padding-right: 0;
		}
		.b-requisites-item-right{
			width: 100%;
			margin-top: 8px;
		}

	.b-popup{
		padding: 14px 24px 24px;
	}

	.b-popup h2.b-title{
		padding-right: 40px;
	}

	.b-screen .b-table{
		width: calc(100% - 34px);
	}

	.b-screen-geography .b-table{
		width: 100%;
	}

	.dot-yellow{
		width: 5px;
		height: 5px;
		margin-left: -2px;
		margin-top: -2px;
	}

	.dot-white{
		width: 4px;
		height: 4px;
		margin-left: -2px;
		margin-top: -2px;
	}

	.dot-white-small{
		width: 2px;
		height: 2px;
		margin-left: -1px;
		margin-top: -1px;
	}

	.services-list {
	    width: 100%;
	    margin-top: 12px;
	}

	.services-item{
		display: inline-block;
	    width: 100%;
	    margin-right: 0;
	    margin-bottom: 16px;
	}

	.services-item:last-child,
	.services-item:nth-last-child(2){
		margin-bottom: 16px;
	}

	.services-item:last-child{
	    margin-bottom: 0;
	}

		.services-item img{
			display: inline-block;
			width: 46px;
			margin-right: 16px;
		}

		.services-item p {
			width: calc(100% - 80px);
	   	 	vertical-align: top;
			display: inline-block;
		    font-size: 18px;
		    line-height: 24px;
		    margin-top: 0;
		}

	.b-screen-about .b-screen-content p{
		width: 100%;
	}

}

@media screen and (max-width: 385px){

	.b-screen-geography h2.b-title{
		text-align: left;
	}

	.b-popup .b-btn{
		width: 100%;
	}

}