@charset "utf-8";

body {
	min-width: 345px;
	font-size: 20px;
	line-height: 18px;
}

.b-btn{
	display: inline-block;
	text-align: left;
	color: #FFF;
	padding: 17px 24px 15px;
	border-radius: 3px;
	border: 1px solid #fece0b;
	font-family: 'Geometria-Medium';
	font-size: 16px;
	line-height: 20px;
}

.b-wide-block {
    position: relative;
    max-width: 1600px;
    width: 100%;
    min-width: 1160px;
    margin: 0px auto;
    /*background-color: #FFF;*/
}

.b-block {
    width: 100%;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

h1.b-title{
	font-family: 'Merel-Medium';
	font-size: 56px;
	line-height: 56px;
	color: #FFF;
	margin-bottom: 40px;
}

h2.b-title{
	font-family: 'Merel-Medium';
	font-size: 48px;
	line-height: 60px;
	color: #3b3636;
	margin-bottom: 6px;
}

h3.b-title{
	font-family: 'Merel-Medium';
	font-size: 36px;
	line-height: 36px;
	color: #3b3636;
}

h4{
	font-family: 'Merel-Medium';
	font-size: 32px;
	line-height: 32px;
	color: #3b3636;
}

input{
	padding: 15px 24px;
	border: 1px solid #ffffff;
	border-radius: 3px;
	background-color: transparent;
	color: #FFF;
	font-family: 'Merel-Regular';
	font-size: 16px;
}

/*-----------------------*/

.b-requisites .b-btn-download {
    position: static;
    top: auto;
    right: auto;
    margin-top: 24px;
}
.b-requisites-list{
	margin-top: 16px;
}

.b-requisites-item-left{
	width: 50%;
}

.b-requisites-item-right{
	width: calc(50% - 5px);
}

.b-geography-map{
	width: 94%;
	margin-left: 3%;
}

.legend-item {
    margin-bottom: 6px;
    margin-right: 24px;
}

@media screen and (max-width: 640px){

	.legend-item {
		display: block;
	    margin-bottom: 6px;
	    margin-right: 0;
	}

}

@media screen and (max-width: 580px){

	.b-posts-item {
	    width: 100%;
	    margin-right: 0;
	    margin-bottom: 32px;
	}

	.b-geography-map{
		margin-left: 0;
	}

	.b-popup form .wrap-input{
		width: 100%;
		margin-right: 0;
		margin-bottom: 15px;
	}

	.b-popup form .wrap-input:last-of-type{
		margin-bottom: 0;
	}

}

@media screen and (max-width: 475px){

	.b-requisites-item{
		padding-top: 12px;
	}

		.b-requisites-item-left{
			width: 100%;
			font-family: 'Merel-Medium';
			padding-right: 0;
		}
		.b-requisites-item-right{
			width: 100%;
			margin-top: 8px;
		}

	.b-popup{
		padding: 14px 24px 24px;
	}

	.b-popup h2.b-title{
		padding-right: 40px;
	}

}

@media screen and (max-width: 385px){

	.b-popup .b-btn{
		width: 100%;
	}

}