@charset "utf-8";

@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),  
		 url('../fonts/icomoon.woff') format('woff'),
		 url('../fonts/icomoon.ttf')  format('truetype'),
		 url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Geometria-Medium';
    src: url('../fonts/Geometria-Medium.eot');
    src: url('../fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Geometria-Medium.woff2') format('woff2'),
         url('../fonts/Geometria-Medium.woff') format('woff'),
         url('../fonts/Geometria-Medium.ttf') format('truetype'),
         url('../fonts/Geometria-Medium.svg#Geometria-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria-Regular';
    src: url('../fonts/Geometria-Regular.eot');
    src: url('../fonts/Geometria-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Geometria-Regular.woff2') format('woff2'),
         url('../fonts/Geometria-Regular.woff') format('woff'),
         url('../fonts/Geometria-Regular.ttf') format('truetype'),
         url('../fonts/Geometria-Regular.svg#Geometria-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'Merel-Medium';
    src: url('../fonts/Merel-Medium.eot');
	src: url('../fonts/Merel-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Merel-Medium.woff2') format('woff2'),
		url('../fonts/Merel-Medium.woff') format('woff'),
		url('../fonts/Merel-Medium.ttf') format('truetype'),
		url('../fonts/Merel-Medium.svg#Merel-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0451;
}

@font-face {
    font-family:'Merel-Regular';
    src: url('../fonts/Merel-Regular.eot');
	src: url('../fonts/Merel-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Merel-Regular.woff2') format('woff2'),
		url('../fonts/Merel-Regular.woff') format('woff'),
		url('../fonts/Merel-Regular.ttf') format('truetype'),
		url('../fonts/Merel-Regular.svg#Merel-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0451;
}

html,
body {
	position: relative;
	height: 100%;
}
body {
	min-width: 1000px;
	text-align: left;
	font-family: 'Merel-Regular', Sans-serif;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #FFF;
	font-size: 20px;
	line-height: 18px;
}
a{
	text-decoration: none;
	color: #FFF;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}

.hide{
	display: none !important;
}

.init-hide{
	opacity: 0;
	visibility: hidden;
}

.init-fadeIn{
 	-webkit-transition: visibility 300ms ease-out, opacity 300ms ease-out;
    -moz-transition: visibility 300ms ease-out, opacity 300ms ease-out;
    -ms-transition: visibility 300ms ease-out, opacity 300ms ease-out;
    -o-transition: visibility 300ms ease-out, opacity 300ms ease-out;
    transition: visibility 300ms ease-out, opacity 300ms ease-out;
}

.fancybox-inner{
	overflow: visible !important;
}
.bold{
	font-family: 'Merel-Bold';
}
.underline{
	text-decoration: underline;
}
.yellow{
	color: #fece0b !important;
}

.left{
	float: left !important;
}
.right{
	float: right !important;
}

.b{
	position: relative;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
input::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.4);
}
input:-moz-placeholder {
	color: rgba(255, 255, 255, 0.4);
}
[class^="icon-"]:before, 
[class*="icon-"]:before,
[class^="icon-"]:after, 
[class*="icon-"]:after,
.fancybox-close-small:after,
ul.b-breadcrumbs li:after{
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.b-btn{
	display: inline-block;
	text-align: left;
	color: #FFF;
	padding: 17px 24px 15px;
	border-radius: 3px;
	border: 1px solid #fece0b;
	font-family: 'Geometria-Medium';
	font-size: 16px;
	line-height: 20px;
}

.b-content .b-btn{
	color: #3b3636;
}

.b-orange-btn{

}
	.b-orange-btn:hover{
		
	}

.b-wide-block {
    position: relative;
    max-width: 1600px;
    width: 100%;
    min-width: 1160px;
    margin: 0px auto;
    /*background-color: #FFF;*/
}

.b-block {
    position: relative;
    width: 1152px;
    margin: 0px auto;
}

h1.b-title{
	font-family: 'Merel-Medium';
	font-size: 56px;
	line-height: 56px;
	color: #FFF;
	margin-bottom: 40px;
}

h2.b-title{
	font-family: 'Merel-Medium';
	font-size: 48px;
	line-height: 60px;
	color: #3b3636;
	margin-bottom: 6px;
}

h3.b-title{
	font-family: 'Merel-Medium';
	font-size: 36px;
	line-height: 36px;
	color: #3b3636;
}

h4{
	font-family: 'Merel-Medium';
	font-size: 32px;
	line-height: 32px;
	color: #3b3636;
}

.icon-mouse:before{
    content: '\e904';
    display: block;
    margin-bottom: 4px;
    font-size: 37px;
    color: #FFF;
}

.icon-mouse-arrow:before{
    content: '\e907';
    display: block;
    font-size: 8px;
    color: #FFF;
}

.icon-arrow-right:after{
	float: right;
	margin-left: 16px;
    content: '\e900';
    font-size: 12px;
    color: #FFF;
    line-height: 22px;
}

.icon-arrow-down:after{
	float: right;
	margin-left: 16px;
    content: '\e908';
    font-size: 16px;
    color: #3b3636;
    line-height: 22px;
}

.icon-phone:before{
    content: '\e905';
    font-size: 26px;
    color: #fece0b;
    vertical-align: middle;
}
.icon-msg:before{
    content: '\e903';
    font-size: 20px;
    color: #fece0b;
    vertical-align: middle;
}
.icon-map:before{
    content: '\e902';
    font-size: 28px;
    color: #fece0b;
    vertical-align: middle;
}
.icon-burger-menu:before{
    content: '\e909';
    font-size: 27px;
    color: #FFF;
    vertical-align: middle;
}

input{
	padding: 15px 24px;
	border: 1px solid #ffffff;
	border-radius: 3px;
	background-color: transparent;
	color: #FFF;
	font-family: 'Merel-Regular';
	font-size: 16px;
}

.b-table{
	display: table;
}

.b-table-cell{
	display: table-cell;
	vertical-align: middle;
}

/*-------b-text-------*/

.b-text{

}
	.b-text p{
		color: #3b3636;
		font-family: 'Merel-Regular';
		font-size: 18px;
		font-weight: 400;
		line-height: 26px;
	}

	.b-text-center{
		width: 960px;
		margin: 0 auto;
	}

/*------b-text------*/

.b-text{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}
	.b-text h2{
		color: #3b3636;
		font-family: 'Merel-Medium';
		font-size: 32px;
		line-height: 32px;
		padding-top: 7px;
		margin-bottom: 24px;
	}

	.b-text p{
		font-size: 20px;
		line-height: 32px;
	}

	.b-text > p{
		margin-bottom: 6px;
	}

	.b-text a{
		color: #fece0b;
		text-decoration: underline;
	}
		.b-text a:hover{
			text-decoration: none;
		}

	.b-text .b-note{
		padding: 24px 32px 28px 32px;
		background-color: #f9f9f9;
		border-radius: 8px;
	}

	.b-text ul{
	    list-style: none;
	    margin-top: 9px;
	    line-height: 24px;
	}

		.b-text ul li{
			position: relative;
			padding-left: 25px;
			margin-bottom: 8px;
		}
			.b-text ul li:before {
			    content: " ";
			    position: absolute;
			    top: 10px;
			    left: 0;
			    width: 8px;
			    height: 8px;
			    background-color: #fece0b;
			    border-radius: 4px;
			}

/*-----------Главная------------*/

.main-page h2.b-title,
.main-page h3.b-title,
.main-page h4{
	color: #FFF;
}

#panel-page{
	height: 100%;
}

.mobile-menu{

}
	.mobile-menu ul{
		padding: 0 15px;
	}
		.mobile-menu h2.b-title,
		.mobile-menu ul li a{
			color: #3b3636;
		}

		.mobile-menu ul li a{
			display: inline-block;
			padding: 8px 0;
		}

.slider-page {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}
/*translate animation*/
@-webkit-keyframes move-up {
	to{
		-webkit-transform: translateY(-100%);
	}
}

@-moz-keyframes move-up {
	to{
		-moz-transform: translateY(-100%);
	}
}

@-ms-keyframes move-up {
	to{
		-ms-transform: translateY(-100%);
	}
}

@-o-keyframes move-up {
	to{
		-o-transform: translateY(-100%);
	}
}

@keyframes move-up {
	to{
		transform: translateY(-100%);
	}
}

@-webkit-keyframes move-down {
	from{
		-webkit-transform: translateY(-100%);
	}
}

@-moz-keyframes move-down {
	from{
		-moz-transform: translateY(-100%);
	}
}

@-ms-keyframes move-down {
	from{
		-ms-transform: translateY(-100%);
	}
}

@-o-keyframes move-down {
	from{
		-o-transform: translateY(-100%);
	}
}

@keyframes move-down {
	from{
		transform: translateY(-100%);
	}
}

@-webkit-keyframes scale-up {
	from{
		-webkit-transform: scale(0.8);
	}
}

@-moz-keyframes scale-up {
	from{
		-moz-transform: scale(0.8);
	}
}

@-ms-keyframes scale-up {
	from{
		-ms-transform: scale(0.8);
	}
}

@-o-keyframes scale-up {
	from{
		-o-transform: scale(0.8);
	}
}

@keyframes scale-up {
	from{
		transform: scale(0.8);
	}
}

@-webkit-keyframes scale-down {
	to{
		-webkit-transform: scale(0.8);
	}
}

@-moz-keyframes scale-down {
	to{
		-moz-transform: scale(0.8);
	}
}

@-ms-keyframes scale-down {
	to{
		-ms-transform: scale(0.8);
	}
}

@-o-keyframes scale-down {
	to{
		-o-transform: scale(0.8);
	}
}

@keyframes scale-down {
	to{
		transform: scale(0.8);
	}
}

/*----scale bachground----*/

@-webkit-keyframes slide-zoom {
	0% {
		-webkit-transform: scale(1);
	}
	50%{
		-webkit-transform: scale(1.1);
	}
	100%{
		-webkit-transform: scale(1);
	}
}
@-moz-keyframes slide-zoom {
	0% {
		-moz-transform: scale(1);
	}
	50%{
		-moz-transform: scale(1.1);
	}
	100%{
		-moz-transform: scale(1);
	}
}
@-ms-keyframes slide-zoom {
	0% {
		-ms-transform: scale(1);
	}
	50%{
		-ms-transform: scale(1.1);
	}
	100%{
		-ms-transform: scale(1);
	}
}
@-o-keyframes slide-zoom {
	0% {
		-o-transform: scale(1);
	}
	50%{
		-o-transform: scale(1.1);
	}
	100%{
		-o-transform: scale(1);
	}
}
@keyframes slide-zoom {
	0% {
		transform: scale(1);
	}
	50%{
		transform: scale(1.1);
	}
	100%{
		transform: scale(1);
	}
}

.b-screen{
	position: absolute;
	top: 0;
	left: 0;
	display: table;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.scale-down{
	z-index: 3 !important;
	-webkit-animation: scale-down 400ms ease-out both;
	   -moz-animation: scale-down 400ms ease-out both;
	    -ms-animation: scale-down 400ms ease-out both;
	   	 -o-animation: scale-down 400ms ease-out both;
			animation: scale-down 400ms ease-out both;
}

.scale-up{
	z-index: 3 !important;
	-webkit-animation: scale-up 400ms ease-out both;
	   -moz-animation: scale-up 400ms ease-out both;
	    -ms-animation: scale-up 400ms ease-out both;
	   	 -o-animation: scale-up 400ms ease-out both;
			animation: scale-up 400ms ease-out both;
}

.move-down{
	z-index: 5 !important;
	-webkit-animation: move-down 400ms ease-out both;
	   -moz-animation: move-down 400ms ease-out both;
	    -ms-animation: move-down 400ms ease-out both;
	   	 -o-animation: move-down 400ms ease-out both;
			animation: move-down 400ms ease-out both;
}

.move-up{
	z-index: 5 !important;
	-webkit-animation: move-up 400ms cubic-bezier(.46,.08,.58,.84) both;
	   -moz-animation: move-up 400ms cubic-bezier(.46,.08,.58,.84) both;
	    -ms-animation: move-up 400ms cubic-bezier(.46,.08,.58,.84) both;
	   	 -o-animation: move-up 400ms cubic-bezier(.46,.08,.58,.84) both;
			animation: move-up 400ms cubic-bezier(.46,.08,.58,.84) both;
}

.current-slide{
	z-index: 2;
}

.slider-back{
	z-index: 0;
	width: 100%;
	height: 100%;
	background-color: #3d3938;
}

	.b-screen .b-block,
	.b-screen .b-table{
		height: 100%;
	}

	.b-screen .b-block{

	}

	.b-screen .b-table{
		width: 100%;
		min-height: 500px;
	}

.b-screen-back{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	background-position: 50% 15%;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	margin-bottom: 32px;
}

.move-down .b-screen-back,
.move-up .b-screen-back,
.current-slide .b-screen-back{
	animation: slide-zoom 20s ease-in-out infinite;
	-moz-animation: slide-zoom 20s ease-in-out infinite;
	-webkit-animation: slide-zoom 20s ease-in-out infinite;
 	-o-animation: slide-zoom 20s ease-in-out infinite;
}

.b-screen-head .b-screen-back{
	background-image: url(../i/back-1-shakal.jpg);
}

.b-screen-about .b-screen-back{
	background-image: url(../i/back-2-shakal.jpg);
}

.b-screen-services .b-screen-back{
	background-image: url(../i/back-3-shakal.jpg);
}

.b-screen-geography .b-screen-back{
	background-image: url(../i/back-2-shakal.jpg);
}

.b-screen-contacts .b-screen-back{
	background-image: url(../i/back-5-shakal.jpg);
}

.b-screen-head .b-screen-content{
	padding-top: 28px;
}

.b-screen-about .b-screen-content{
	padding-top: 20px;
}

.b-screen-services .b-screen-content{
	padding-top: 34px;
}

.b-screen-geography .b-screen-content{
	padding-top: 30px;
}

.b-screen-contacts .b-screen-content{
	padding-top: 50px;
}

.b-screen-menu{

}

	.b-screen-menu .b-screen-content{
		padding-top: 8px;
	}

	.mobile-menu-contacts{
		position: absolute;
		top: 96px;
	}

	.b-screen-menu h2.b-title{
		font-size: 28px;
		line-height: 36px;
		margin-bottom: 12px;
		color: #FFF;
	}

	/*.b-screen-menu .b-table{
		padding: 110px 0;
	}*/

	.b-screen-menu ul{

	}

		.b-screen-menu ul li{
			font-size: 20px;
			line-height: 26px;
			margin-bottom: 12px;
		}

		.b-screen-menu ul li:last-child{
			margin-bottom: 0;
		}

	.menu-footer{
		width: 100%;
		position: absolute;
		bottom: 0;
		font-size: 16px;
		line-height: 24px;
		color: rgba(255,255,255,0.5);
	}

		.menu-footer-up{
			border-bottom: 2px solid rgba(151,151,151,0.3);
		}

			.menu-footer-up .policy{
				font-size: 16px;
				color: rgba(255,255,255,0.5);
				text-decoration: underline;
				display: inline-block;
				margin-bottom: 18px;
			}

			.menu-phone, .menu-email{
				font-size: 16px;
				display: inline-block;
			}
			.menu-phone{
				margin-right: 16px;
			}

			.menu-phone *[class^="icon-"], .menu-email *[class^="icon-"]{
				margin-right: 10px;
			}

			.menu-phone a, .menu-email a{
				display: inline-block;
				vertical-align: top;
			}

			.menu-phone a{
				padding-top: 2px;
			}

			.menu-email a{
				padding-top: 3px;
			}

		.b-screen.b-screen-menu .b-btn{
			margin-top: 16px;
		}

		.menu-footer .b-redder{
			padding: 14px 0 8px;
		}

			.menu-footer .b-redder p{
				line-height: 12px;
			}

			.menu-footer .b-redder a{
				width: 92px;
				height: 16px;
			}

.b-mouse{
	text-align: center;
	width: 22px;
	position: absolute;
	left: calc(50% - 11px);
	bottom: 35px;
	z-index: 10;
}

	.b-mouse div{

	}

.mobile-next-slide,
.mobile-prev-slide{
	text-align: center;
	width: 43px;
	height: 43px;
	position: absolute;
	left: calc(50% - 22px);
	bottom: 18px;
	z-index: 10;
}

.mobile-next-slide,
.mobile-prev-slide{
	display: none;
}

	.mobile-next-slide .icon-mouse-arrow,
	.mobile-prev-slide .icon-mouse-arrow{
		padding-top: 18px;
	}

	.mobile-prev-slide .icon-mouse-arrow{
		padding-right: 1px;
	}

	.mobile-prev-slide{
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	.mobile-next-slide-border{
		position: absolute;
	    top: 5px;
	    left: 5px;
	    width: 32px;
	    height: 32px;
	    border-radius: 3px;
	    border: 1px solid #FFF;
	    -webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}

@-webkit-keyframes mouse-first-move {
	0% {
		-webkit-transform: translateY(0);
	}
	50%{
		-webkit-transform: translateY(6px);
	}
	100%{
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes mouse-first-move {
	0% {
		-moz-transform: translateY(0);
	}
	50%{
		-moz-transform: translateY(6px);
	}
	100%{
		-moz-transform: translateY(0);
	}
}

@-ms-keyframes mouse-first-move {
	0% {
		-ms-transform: translateY(0);
	}
	50%{
		-ms-transform: translateY(6px);
	}
	100%{
		-ms-transform: translateY(0);
	}
}

@-o-keyframes mouse-first-move {
	0% {
		-o-transform: translateY(0);
	}
	50%{
		-o-transform: translateY(6px);
	}
	100%{
		-o-transform: translateY(0);
	}
}

@keyframes mouse-first-move {
	0% {
		transform: translateY(0);
	}
	50%{
		transform: translateY(6px);
	}
	100%{
		transform: translateY(0);
	}
}

@-webkit-keyframes mouse-second-move {
	0% {
		-webkit-transform: translateY(0);
	}
	50%{
		-webkit-transform: translateY(12px);
	}
	100%{
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes mouse-second-move {
	0% {
		-moz-transform: translateY(0);
	}
	50%{
		-moz-transform: translateY(12px);
	}
	100%{
		-moz-transform: translateY(0);
	}
}

@-ms-keyframes mouse-second-move {
	0% {
		-ms-transform: translateY(0);
	}
	50%{
		-ms-transform: translateY(12px);
	}
	100%{
		-ms-transform: translateY(0);
	}
}

@-o-keyframes mouse-second-move {
	0% {
		-o-transform: translateY(0);
	}
	50%{
		-o-transform: translateY(12px);
	}
	100%{
		-o-transform: translateY(0);
	}
}

@keyframes mouse-second-move {
	0% {
		transform: translateY(0);
	}
	50%{
		transform: translateY(12px);
	}
	100%{
		transform: translateY(0);
	}
}

.b-mouse .icon-mouse-arrow:first-child{
	animation: mouse-first-move 1s ease-in-out infinite;
	-moz-animation: mouse-first-move 1s ease-in-out infinite;
	-webkit-animation: mouse-first-move 1s ease-in-out infinite;
 	-o-animation: mouse-first-move 1s ease-in-out infinite;
}

.b-mouse .icon-mouse-arrow:last-child{
	animation: mouse-second-move 1s ease-in-out infinite;
	-moz-animation: mouse-second-move 1s ease-in-out infinite;
	-webkit-animation: mouse-second-move 1s ease-in-out infinite;
 	-o-animation: mouse-second-move 1s ease-in-out infinite;
}

.main-page .b-block-menu{
	width: 100%;
	padding-top: 27px;
	position: fixed;
	top: 0;
	z-index: 5;
}

	.b-logo{
		display: inline-block;
		width: 256px;
		height: 57px;
    	background-position: 50% 50%;
    	background-repeat: no-repeat;
    	background-image: url(../i/logo.svg);
    	background-size: cover;
	}

	.burger-menu {
		position: relative;
		width: 30px;
		height: 26px;
		margin-top: 14px;
	    float: right;
	    cursor: pointer;
	}

	.burger-menu{
		display: none;
	}

		.burger-menu div{
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #FFF;
			border-radius: 1px;
		}

		.burger-top{
			top: 0;
		}

		.burger-bottom{
			bottom: 0;
		}

		.burger-up{
			top: 8px;
		}

		.burger-down{
			top: 16px;
		}

		@keyframes burger-up-move {
			0% {
				top: 8px;
				left: 0;
				width: 100%;
			}
			100%{
				top: 12px;
				left: 8px;
				width: 14px;
			}
		}

		@keyframes burger-up-rotate {
			100%{
				transform: rotate(45deg)
			}
		}

		@keyframes burger-down-move {
			0% {
				top: 16px;
				left: 0;
				width: 100%;
			}
			100%{
				top: 12px;
				left: 8px;
				width: 14px;
			}
		}

		@keyframes burger-down-rotate {
			100%{
				transform: rotate(-45deg)
			}
		}

		@keyframes burger-up-move-back {
			0% {
				top: 12px;
				left: 8px;
				width: 14px;
			}
			100%{
				top: 8px;
				left: 0;
				width: 100%;
			}
		}

		@keyframes burger-up-rotate-back {
			0% {
				transform: rotate(45deg)
			}
			100%{
				transform: rotate(0)
			}
		}

		@keyframes burger-down-move-back {
			0% {
				top: 12px;
				left: 8px;
				width: 14px;
			}
			100%{
				top: 16px;
				left: 0;
				width: 100%;
			}
		}

		@keyframes burger-down-rotate-back {
			0% {
				transform: rotate(-45deg)
			}
			100%{
				transform: rotate(0)
			}
		}

		.burger-menu.open .burger-up{
			-webkit-animation: burger-up-move 150ms ease-in both, burger-up-rotate 150ms 150ms ease-out both;
			   -moz-animation: burger-up-move 150ms ease-in both, burger-up-rotate 150ms 150ms ease-out both;
			    -ms-animation: burger-up-move 150ms ease-in both, burger-up-rotate 150ms 150ms ease-out both;
			   	 -o-animation: burger-up-move 150ms ease-in both, burger-up-rotate 150ms 150ms ease-out both;
					animation: burger-up-move 150ms ease-in both, burger-up-rotate 150ms 150ms ease-out both;
		}

		.burger-menu.open .burger-down{
			-webkit-animation: burger-down-move 150ms ease-in both, burger-down-rotate 150ms 150ms ease-out both;
			   -moz-animation: burger-down-move 150ms ease-in both, burger-down-rotate 150ms 150ms ease-out both;
			    -ms-animation: burger-down-move 150ms ease-in both, burger-down-rotate 150ms 150ms ease-out both;
			   	 -o-animation: burger-down-move 150ms ease-in both, burger-down-rotate 150ms 150ms ease-out both;
					animation: burger-down-move 150ms ease-in both, burger-down-rotate 150ms 150ms ease-out both;
		}

		.burger-menu.close .burger-up{
			-webkit-animation: burger-up-rotate-back 150ms ease-in both, burger-up-move-back 150ms 150ms ease-out both;
			   -moz-animation: burger-up-rotate-back 150ms ease-in both, burger-up-move-back 150ms 150ms ease-out both;
			    -ms-animation: burger-up-rotate-back 150ms ease-in both, burger-up-move-back 150ms 150ms ease-out both;
			   	 -o-animation: burger-up-rotate-back 150ms ease-in both, burger-up-move-back 150ms 150ms ease-out both;
					animation: burger-up-rotate-back 150ms ease-in both, burger-up-move-back 150ms 150ms ease-out both;
		}

		.burger-menu.close .burger-down{
			-webkit-animation: burger-down-rotate-back 150ms ease-in both, burger-down-move-back 150ms 150ms ease-out both;
			   -moz-animation: burger-down-rotate-back 150ms ease-in both, burger-down-move-back 150ms 150ms ease-out both;
			    -ms-animation: burger-down-rotate-back 150ms ease-in both, burger-down-move-back 150ms 150ms ease-out both;
			   	 -o-animation: burger-down-rotate-back 150ms ease-in both, burger-down-move-back 150ms 150ms ease-out both;
					animation: burger-down-rotate-back 150ms ease-in both, burger-down-move-back 150ms 150ms ease-out both;
		}

	.b-menu-cont{
		display: inline-block;
		vertical-align: top;
	}
	.b-menu{
		display: inline-block;
		vertical-align: top;
		margin-left: 20px;
		margin-top: 20px;
	}
		.b-menu li{
			float: left;
		}
			.b-menu li a{
				font-family: 'Geometria-Medium';
				padding: 0 16px;
				font-size: 16px;
			}

	.b-menu-contacts{
		font-family: 'Geometria-Medium';
		font-size: 16px;
		text-align: right;
	}
		.b-menu-contacts a{
			display: inline-block;
		}

		.b-menu-contacts .b-btn,
		.b-screen-menu .b-btn{
			padding: 7px 17px;
			margin-top: 14px;
		}

.b-screen .b-btn{
	margin-top: 44px;
}

.b-screen-menu .b-btn{
	margin-top: 0;
}

.b-screen-head .b-table{
	width: 450px;
}

	.b-screen-head .b-screen-content p{
		width: 440px;
		font-size: 26px;
		line-height: 36px;
		margin-top: 40px;
	}

	.b-screen-about .b-screen-content p{
		width: 554px;
		line-height: 32px;
		margin-top: 36px;
	}

.b-tube{
	position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 1152px;
    margin: 0 auto;
}

	.b-tube img{
		width: 546px;
		display: inline-block;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 5;
	}

.services-list{
	width: calc(100% - 45px);
	margin-top: 62px;
}
	.services-item{
		display: inline-block;
		vertical-align: top;
		width: calc(100%/4 - 22px);
		margin-right: 24px;
	}

	.services-item:last-child{
		margin-right: 0;
	}

		.services-item p{
			font-size: 22px;
			line-height: 28px;
			margin-top: 34px;
		}

.b-screen-geography h2{
	text-align: center;
}

.b-geography-map{
	width: 84%;
	margin-left: 6%;
	/*height: 492px;
	margin-left: 6%;
	background-image: url(../i/map.svg);
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;*/
}

.b-geography-map img{
	width: 100%;
}

.dot-yellow{
	position: absolute;
	width: 13px;
	height: 13px;
	border-radius: 100px;
	background-color: #fece0b;
	margin-left: -6px;
	margin-top: -6px;
}

.dot-white{
	position: absolute;
	width: 8px;
	height: 8px;
	border-radius: 100px;
	background-color: #FFF;
	margin-left: -4px;
	margin-top: -4px;
}

.dot-white-small{
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 100px;
	background-color: #FFF;
	margin-left: -2px;
	margin-top: -2px;
}

.dot-yellow,
.dot-white,
.dot-white-small{
	-webkit-transform: scale(0);
	   -moz-transform: scale(0);
	    -ms-transform: scale(0);
	   	 -o-transform: scale(0);
			transform: scale(0);
	-webkit-transition: transform 400ms ease-out;
    -moz-transition: transform 400ms ease-out;
    -ms-transition: transform 400ms ease-out;
    -o-transition: transform 400ms ease-out;
    transition: transform 400ms ease-out;
}

.dot-yellow.dot-show,
.dot-white.dot-show,
.dot-white-small.dot-show{
	-webkit-transform: scale(1);
	   -moz-transform: scale(1);
	    -ms-transform: scale(1);
	   	 -o-transform: scale(1);
			transform: scale(1);
}

.b-geography-legend{
	text-align: center;
	margin-top: 12px;
	font-size: 16px;
}

	.legend-item{
		display: inline-block;
		margin-right: 61px;
	}

	.legend-item:last-child{
		margin-right: 0;
	}

		.legend-item-dot{
			display: inline-block;
			width: 13px;
			height: 13px;
			margin-right: 15px;
			border-radius: 100px;
			background-color: #FFF;
			vertical-align: bottom;
		}
		
		.legend-item-dot.yellow{
			background-color: #fece0b;
		}

.b-contacts-item{
	float: left;
	width: 390px;
	line-height: 32px;
	padding-right: 20px;
}

	.b-screen .b-contacts-item h3{
		color: #fece0b;
	}
	.b-contacts-body{
		margin-top: 32px;
	}
		.b-contacts-info{
			margin-bottom: 16px;
		}
		.b-contacts-info:last-child{
			margin-bottom: 0;
		}
			.b-contacts-info p{
				display: inline-block;
			}
			.b-contacts-info-right{
				float: right;
				width: calc(100% - 50px);
			}

	.b-map-city .b-btn-city{
		padding: 8px 18px;
		margin-right: 24px;
		border: 1px solid #FFF;
		margin-top: 20px;
	}

	.b-map-city .b-btn-city.active{
		border: 1px solid #fece0b;
	}

	.b-map-city .b-btn-city:last-child{
		margin-right: 0;
	}

	.b-map-block{
		float: left;
		width: calc(100% - 490px);
	}

		.b-map{
			width: 100%;
			height: 355px;
			margin-top: 24px;
		}

/*---------Контакты---------*/

.b-header{
	padding-top: 85px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../i/back-inner.jpg);
}

	.b-header-title{
		padding: 38px 0 46px;
		text-align: center;
	}

.b-content{
	color: #3b3636;
	padding: 62px 0 74px 0;
}

.b-block-menu{
	width: 100%;
	padding-top: 27px;
}

ul.b-breadcrumbs {
    display: inline-block;
}

	ul.b-breadcrumbs li {
	    float: left;
	}
		ul.b-breadcrumbs li a, ul.b-breadcrumbs li span{
			font-family: "Geometria-Medium";
		    font-size: 16px;
		    color: #FFF;
		}

	ul.b-breadcrumbs li:after {
	    position: relative;
	    content: "\e900";
	    font-size: 16px;
	    padding: 3px 0px;
	    display: block;
	    float: left;
	    line-height: 16px;
	    font-size: 11px;
	    font-family: "Geometria-Medium";
	    color: #FFF;
	    margin-left: 16px;
	    margin-right: 16px;
	}

	ul.b-breadcrumbs li:last-child:after {
	    display: none;
	}

	ul.b-breadcrumbs a, ul.b-breadcrumbs span {
	    padding: 2px 0px;
	    font-size: 12px;
	    display: block;
	    float: left;
	    line-height: 16px;
	}

	ul.b-breadcrumbs .nav-link{
		color: #fece0b;
	}

.b-content .b-contacts{
	margin-bottom: 56px;
}

.b-content .b-contacts,
.b-content .b-contacts a,
.b-content .b-contacts h2,
.b-content .b-contacts h4,
.b-content .b-contacts [class^="icon-"]:before, 
.b-content .b-contacts [class*="icon-"]:before{
	color: #3b3636;
}

.b-content .b-contacts h4{
	font-family: 'Merel-Regular';
	font-size: 28px;
}

.b-content .b-contacts .b-map-block{
	width: calc(100% - 390px);
}

.b-content .b-map{
	-webkit-box-shadow: 0px 8px 30px 4px rgba(200, 200, 200, 1);
	-moz-box-shadow:    0px 8px 30px 4px rgba(200, 200, 200, 1);
	box-shadow:         0px 8px 30px 4px rgba(200, 200, 200, 1);
}

.b-posts{
	margin-bottom: 30px;
}

	.b-posts-item{
		float: left;
		width: calc(100%/2 - 12px);
		margin-right: 24px;
		margin-bottom: 32px;
	}
	.b-posts-item:nth-child(2n){
		margin-right: 0;
	}

		.b-posts-item h3{
			margin-bottom: 16px;
		}

		.b-posts-item p{
			line-height: 32px;
		}

.b-requisites{

}

	.b-requisites .b-btn-download{
		position: absolute;
		top: 0;
		right: 0;
	}
	.b-requisites-list{
		margin-top: 63px;
	}

		.b-requisites-item{
			border-bottom: 1px solid #979797;
			padding: 15px 0;
		}
		.b-requisites-item:last-child{
			border-bottom: 0;
		}

			.b-requisites-item-left{
				display: inline-block;
				width: 30%;
				padding-right: 24px;
				vertical-align: top;
			}

			.b-requisites-item-right{
				display: inline-block;
				width: calc(70% - 5px);
			}

.b-footer{
	overflow: hidden;
	background-color: #3b3636;
}

	.b-footer-top{
		border-bottom: 2px solid rgba(151,151,151,0.3);
		padding: 32px 0;
	}

		.b-footer .burger-menu{
			display: none;
		}
			.b-footer-menu-cont{
				display: inline-block;
				vertical-align: top;
				float: right;
			}

			.b-footer-menu{
				margin-left: 0;
			}

			.b-footer-menu li a {
			    padding: 0 26px;
			}

			.b-footer-menu li:last-child a{
				padding-right: 0;
			}

	.b-footer-down{
		color: rgba(255,255,255,0.4);
		padding: 30px 0 35px;
	}
		.b-footer-down div{
			display: inline-block;
		}

			.b-redder{
				float: right;
			}
				.b-redder p{
					vertical-align: top;
					display: inline-block;
				}
				.b-redder a{
					display: inline-block;
					margin-left: 11px;
					opacity: 0.5;
				    background-position: 50% 50%;
				    background-repeat: no-repeat;
				    background-size: cover;
				    background-image: url(../i/redder.png);
				    width: 120px;
				    height: 21px;
				    font-size: 0px;
				}

/*------Мобильное меню на внутренних страницах------*/

.b-header .b-screen-menu{
	position: fixed;
}

.b-header .b-block-menu{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.b-header .b-block-menu.fixed{
	position: fixed;
}

.no-scroll{
	height: 100%;
	overflow: hidden;
}

/*------Услуги------*/

.b-services-list{
	margin-top: 74px;
}
	.b-services-item{
		position: relative;
		float: left;
		width: calc(25% - 18px);
		height: 320px;
		margin-right: 24px;
		margin-bottom: 44px;
	    border-radius: 3px;
	    background-position: 50% 50%;
	    background-repeat: no-repeat;
	    background-size: cover;
	    -webkit-box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
		box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
	}
	.b-services-item:nth-child(4n){
		margin-right: 0;
	}
	.b-services-item:last-child,
	.b-services-item:nth-last-child(2),
	.b-services-item:nth-last-child(3),
	.b-services-item:nth-last-child(4){
		margin-bottom: 0;
	}
		.b-services-item-shadow{
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: 1;
			width: 100%;
			height: 65%;
			border-radius: 3px;
		    background-position: left bottom;
		    background-image: url(../i/services-shadow.png);
		    background-repeat: repeat-x;
		    background-size: contain;
		}
		.b-services-item-content{
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: 2;
			padding: 28px 24px;
		}
			.b-services-item-name{
				color: #FFF;
				line-height: 26px;
			}
			.b-services-item-content a{
				display: inline-block;
				color: #fece0b;
				font-family: 'Merel-Medium';
				font-size: 16px;
				line-height: 26px;
				margin-top: 8px;
			}
				.b-services-item-content .icon-arrow-right:after{
					float: none;
					color: #fece0b;
					font-size: 11px;
					margin-left: 9px;
				}

/*-----------Popup-----------*/

.b-popup{
	width: calc(100% - 48px);
	max-width: 500px;
	padding: 40px 44px 28px;
	border-radius: 3px;
	-webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #3d3938;
}

	.b-popup h2.b-title{
		font-size: 36px;
		line-height: 44px;
		color: #FFF;
		margin-bottom: 16px;
	}

	.b-popup h4{
		font-size: 16px;
		line-height: 26px;
		color: #FFF;
	}

	.b-popup form{
		margin: 16px 0;
	}

		.b-popup form .wrap-input{
			float: left;
			width: calc(100%/2 - 12px);
			margin-right: 24px;
		}

		.b-popup form .wrap-input:nth-child(2n){
			margin-right: 0;
		}

			.b-popup form .wrap-input h4{
				margin-bottom: 4px;
			}

			.b-popup form .wrap-input input{
				width: 100%;
			}

	.b-popup .b-btn{
		float: right;
		width: calc(50% - 12px);
		min-width: 180px;
		padding: 16px 24px 14px;
		margin-top: 32px;
	}

	.personal-info{
		font-size: 14px;
		color: rgba(255, 255, 255, 0.4);
	}

		.personal-info a{
			color: rgba(255, 255, 255, 0.4);
			border-bottom: 1px solid rgba(255, 255, 255, 0.4);
		}

		.personal-info a:hover{
			border-bottom: 0;
		}

.fancybox-close-small:active:after, .fancybox-close-small:focus:after {
	outline: none;
}

/*----------Bubbles----------*/

.screen-bubbles-item{
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: -7px;
    right: 34px;
	padding: 10px 32px 15px;
	border-radius: 3px;
	background-color: #FFF;
	color: #554e4e;
	font-size: 18px;
	-webkit-transition: transform 300ms ease-out, visibility 300ms ease-out, opacity 300ms ease-out;
    -moz-transition: transform 300ms ease-out, visibility 300ms ease-out, opacity 300ms ease-out;
    -ms-transition: transform 300ms ease-out, visibility 300ms ease-out, opacity 300ms ease-out;
    -o-transition: transform 300ms ease-out, visibility 300ms ease-out, opacity 300ms ease-out;
    transition: transform 300ms ease-out, visibility 300ms ease-out, opacity 300ms ease-out;
}

.screen-bubbles-item:after {
    position: absolute;
    content: "s";
    font-size: 0px;
    width: 0px;
    height: 0px;
    right: -20px;
    top: 9px;
    border: 12px solid transparent;
    border-left: 12px solid #FFF;
}

/*---------fancybox----------*/

.fancybox-close-small {
    position: absolute;
    right: 15px;
    top: 15px;
}

.fancybox-close-small:after {
    content: "\e901";
    position: absolute;
    left: 8px;
    top: 10px;
    color: #FFF;
    font-size: 25px;
    width: auto;
    height: auto;
    background-color: transparent;
    opacity: 0.5;
}

.fancybox-close-small:hover:after {
	opacity: 1;
    color: #FFF;
    background: transparent;
}

/*----------slider-styles-----------*/


#slider-nav{
	right: auto;
    left: calc(50% + 553px);
    position: fixed;
    z-index: 100;
    margin-top: -92px;
    top: 50%;
}

	#slider-nav ul{
		/*margin-right: -10px;*/
		float: right;
	}

		#slider-nav ul li{
			display: block;
			position: relative;
			width: 31px;
			height: 31px;
			margin: 0;
			margin-bottom: 8px;
		}

		#slider-nav ul li:last-child{
			margin-bottom: 0;
		}

		#slider-nav ul li a{
			display: block;
		    position: relative;
		    z-index: 1;
		    width: 100%;
		    height: 100%;
		    cursor: pointer;
		    text-decoration: none;
		}

			#slider-nav ul li a span{
				vertical-align: middle;
			    display: inline-block;
				margin: 3px 0 0 8px;
				width: 15px;
				height: 15px;
				border-radius: 3px;
				border: 1px solid #FFF;
				background-color: transparent;
				position: static;
				top: auto;
				left: auto;
				-webkit-transition: all 0.15s ease-in-out;
			    -moz-transition: all 0.15s ease-in-out;
			    -o-transition: all 0.15s ease-in-out;
			    transition: all 0.15s ease-in-out;
			}

			#slider-nav ul li a.active span{
				width: 15px;
				height: 15px;
				margin: 3px 0 0 8px;
				-webkit-transform: rotate(45deg);
	   			-moz-transform: rotate(45deg);
	    		-ms-transform: rotate(45deg);
	    		-o-transform: rotate(45deg);
	    		transform: rotate(45deg);
				border-radius: 3px;
				border: 1px solid #FFF;
				background-color: #FFF;
			}

			

/*-------slideout.js-------*/

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.b-menu-overlay{
	display: none;
    /*-webkit-transition: opacity 150ms ease-out;
    -moz-transition: opacity 150ms ease-out;
    -ms-transition: opacity 150ms ease-out;
    -o-transition: opacity 150ms ease-out;
    transition: opacity 150ms ease-out;*/
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.25);
}

/*-------------------------------*/


@media (-webkit-min-device-pixel-ratio: 1.5) {
	.b-redder a{
	    background-image: url(../i/redder@2x.png);
	}

}

@media screen and (max-width: 1200px){
	
	.b-menu.b-top-menu, .b-menu-contacts{
		display: none;
	}

	.burger-menu{
		display: inline-block;
	}

	.b-tube{
		display: none;
	}

	#slider-nav{
		right: 16px;
	    left: auto;
	}

}

@media screen and (max-width: 940px){

	.b-footer-menu{
		display: none;
	}
	.b-footer .burger-menu{
		display: block;
	}

}

@media screen and (max-width: 768px){

	.b-mouse{
		display: none;
	}

	.mobile-next-slide,
	.mobile-prev-slide{
		display: block;
	}

}

@media screen and (min-width: 767px){
	#slider-nav:not(.bubble-close) ul li:hover a span{
	    width: 15px;
	    height: 15px;
		margin: 3px 0 0 8px;
	    -webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		border: 1px solid #fece0b;
	}

	#slider-nav:not(.bubble-close) ul li:hover .screen-bubbles-item{
		opacity: 1;
		visibility: visible;
		-webkit-transform: translateX(-10px);
	    -moz-transform: translateX(-10px);
	    -ms-transform: translateX(-10px);
	    -o-transform: translateX(-10px);
	    transform: translateX(-10px);
	}

	#slider-nav:not(.bubble-close) ul li:hover a.active span{
	    width: 15px;
	    height: 15px;
		margin: 3px 0 0 8px;
	    border-radius: 3px;
		border: 1px solid transparent;
	}
}