@charset "utf-8";

@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),  
		 url('../fonts/icomoon.woff') format('woff'),
		 url('../fonts/icomoon.ttf')  format('truetype'),
		 url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Geometria-Medium';
    src: url('../fonts/Geometria-Medium.eot');
    src: url('../fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Geometria-Medium.woff2') format('woff2'),
         url('../fonts/Geometria-Medium.woff') format('woff'),
         url('../fonts/Geometria-Medium.ttf') format('truetype'),
         url('../fonts/Geometria-Medium.svg#Geometria-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria-Regular';
    src: url('../fonts/Geometria-Regular.eot');
    src: url('../fonts/Geometria-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Geometria-Regular.woff2') format('woff2'),
         url('../fonts/Geometria-Regular.woff') format('woff'),
         url('../fonts/Geometria-Regular.ttf') format('truetype'),
         url('../fonts/Geometria-Regular.svg#Geometria-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'Merel-Medium';
    src: url('../fonts/Merel-Medium.eot');
	src: url('../fonts/Merel-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Merel-Medium.woff2') format('woff2'),
		url('../fonts/Merel-Medium.woff') format('woff'),
		url('../fonts/Merel-Medium.ttf') format('truetype'),
		url('../fonts/Merel-Medium.svg#Merel-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0451;
}

@font-face {
    font-family:'Merel-Regular';
    src: url('../fonts/Merel-Regular.eot');
	src: url('../fonts/Merel-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Merel-Regular.woff2') format('woff2'),
		url('../fonts/Merel-Regular.woff') format('woff'),
		url('../fonts/Merel-Regular.ttf') format('truetype'),
		url('../fonts/Merel-Regular.svg#Merel-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0451;
}

html,
body {
	position: relative;
}
body {
	min-width: 1000px;
	text-align: left;
	font-family: 'Merel-Regular', Sans-serif;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #FFF;
	font-size: 16px;
	line-height: 18px;
}
a{
	text-decoration: none;
	color: #FFF;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}

.hide{
	display: none !important;
}

.fancybox-inner{
	overflow: visible !important;
}
.bold{
	font-family: 'Merel-Bold';
}
.underline{
	text-decoration: underline;
}
.yellow{
	color: #fece0b;
}

.left{
	float: left !important;
}
.right{
	float: right !important;
}

.b{
	position: relative;
}
.b-block{
	position: relative;
	width: 1000px;
	margin: 0px auto;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
input::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.4);
}
input:-moz-placeholder {
	color: rgba(255, 255, 255, 0.4);
}
[class^="icon-"]:before, 
[class*="icon-"]:before,
[class^="icon-"]:after, 
[class*="icon-"]:after,
.fancybox-close-small:after{
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.b-btn{
	display: inline-block;
	text-align: left;
	padding: 20px 24px 19px;
	border-radius: 3px;
	border: 1px solid #fece0b;
	font-family: 'Geometria-Medium';
	font-size: 16px;
	line-height: 20px;
}

.b-orange-btn{

}
	.b-orange-btn:hover{
		
	}

.b-wide-block {
    position: relative;
    max-width: 1600px;
    width: 100%;
    min-width: 1160px;
    margin: 0px auto;
    /*background-color: #FFF;*/
}

.b-block {
    position: relative;
    width: 1152px;
    margin: 0px auto;
}

h1.b-title{
	font-family: 'Merel-Medium';
	font-size: 56px;
	line-height: 56px;
	color: #FFF;
	margin-bottom: 40px;
}

h2.b-title{
	font-family: 'Merel-Medium';
	font-size: 48px;
	line-height: 60px;
	color: #FFF;
}

h3.b-title{
	font-family: 'Merel-Medium';
	font-size: 28px;
	line-height: 38px;
}

.icon-arrow-right:after{
	float: right;
	margin-left: 16px;
    content: '\e900';
    font-size: 12px;
    color: #FFF;
    line-height: 22px;
}

.icon-phone:before{
    content: '\e905';
    font-size: 26px;
    color: #fece0b;
    vertical-align: middle;
}

.icon-msg:before{
    content: '\e903';
    font-size: 20px;
    color: #fece0b;
    vertical-align: middle;
}
.icon-map:before{
    content: '\e902';
    font-size: 28px;
    color: #fece0b;
    vertical-align: middle;
}

input{
	padding: 15px 24px;
	border: 1px solid #ffffff;
	border-radius: 3px;
	background-color: transparent;
	color: #FFF;
	font-family: 'Merel-Regular';
	font-size: 16px;
}

/*-----------Главная------------*/

.b-screen .b-screen-back{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	background-position: 50% 15%;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	margin-bottom: 32px;
}

.b-screen-head .b-screen-back{
	background-image: url(../i/back-1.jpg);
}

.b-screen-about{
	background-image: url(../i/back-2.jpg);
}

.b-screen-services{
	background-image: url(../i/back-3.jpg);
}

.b-screen-geography{
	background-image: url(../i/back-2.jpg);
}

.b-screen-contacts{
	background-image: url(../i/back-5.jpg);
}

.b-block-menu{
	width: 100%;
	padding-top: 27px;
	position: fixed;
	top: 0;
	z-index: 5;
}

	.b-logo{
		display: inline-block;
		width: 256px;
		height: 57px;
    	background-position: 50% 50%;
    	background-repeat: no-repeat;
    	background-image: url(../i/logo.svg);
    	background-size: cover;
	}

	.b-menu{
		display: inline-block;
		vertical-align: top;
		margin-left: 20px;
		margin-top: 20px;
	}
		.b-menu li{
			float: left;
		}
			.b-menu li a{
				font-family: 'Geometria-Medium';
				padding: 0 16px;
				font-size: 16px;
			}

	.b-menu-contacts{
		font-family: 'Geometria-Medium';
		font-size: 16px;
		text-align: right;
	}
		.b-menu-contacts a{
			display: inline-block;
		}

		.b-menu-contacts .b-btn{
			padding: 11px 18px;
			margin-top: 14px;
		}

.b-screen .b-btn{
	margin-top: 44px;
}

.b-screen-head .b-screen-content{
	width: 450px;
}

	.b-screen-head .b-screen-content p{
		width: 440px;
		font-size: 26px;
		line-height: 32px;
		margin-top: 40px;
	}

	.b-screen-about .b-screen-content p{
		width: 554px;
		font-size: 20px;
		line-height: 32px;
		margin-top: 36px;
	}

.b-tube{
	position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 1152px;
    margin: 0 auto;
}

	.b-tube img{
		width: 546px;
		display: inline-block;
		position: absolute;
		bottom: 0;
		right: 0;
	}

.services-list{
	width: calc(100% - 45px);
	margin-top: 50px;
}
	.services-item{
		float: left;
		width: calc(100%/4 - 18px);
		margin-right: 24px;
	}

	.services-item:last-child{
		margin-right: 0;
	}

		.services-item p{
			font-size: 22px;
			line-height: 28px;
			margin-top: 34px;
		}

.b-screen-geography h2{
	text-align: center;
}

.b-geography-map{
	width: 84%;
	margin-left: 6%;
	/*height: 492px;
	margin-left: 6%;
	background-image: url(../i/map.svg);
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;*/
}

.b-geography-map img{
	width: 100%;
}

.dot-yellow{
	position: absolute;
	width: 13px;
	height: 13px;
	border-radius: 100px;
	background-color: #fece0b;
	margin-left: -6px;
	margin-top: -6px;
}

.dot-white{
	position: absolute;
	width: 8px;
	height: 8px;
	border-radius: 100px;
	background-color: #FFF;
	margin-left: -4px;
	margin-top: -4px;
}

.dot-white-small{
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 100px;
	background-color: #FFF;
	margin-left: -2px;
	margin-top: -2px;
}

.b-geography-legend{
	text-align: center;
}

	.legend-item{
		display: inline-block;
		margin-right: 61px;
	}

	.legend-item:last-child{
		margin-right: 0;
	}

		.legend-item-dot{
			display: inline-block;
			width: 13px;
			height: 13px;
			margin-right: 15px;
			border-radius: 100px;
			background-color: #FFF;
			vertical-align: bottom;
		}
		
		.legend-item-dot.yellow{
			background-color: #fece0b;
		}

.b-contacts{
	float: left;
	width: 390px;
	font-size: 20px;
	line-height: 32px;
	padding-right: 30px;
}
	.b-contacts-info{
		margin-top: 32px;
	}
		.b-contacts-item{
			margin-bottom: 16px;
		}
			.b-contacts-item p{
				display: inline-block;
			}
			.b-contacts-item-right{
				float: right;
				width: calc(100% - 50px);
			}

	.b-screen .b-btn-city{
		padding: 8px 18px;
		margin-right: 24px;
		border: 1px solid #FFF;
		margin-top: 20px;
	}

	.b-btn-city.active{
		border: 1px solid #fece0b;
	}

	.b-map-block{
		float: left;
		width: calc(100% - 490px);
	}

		.b-map{
			width: 100%;
			height: 355px;
			margin-top: 24px;
		}

/*-----------Popup-----------*/

.b-popup{
	width: calc(100% - 48px);
	max-width: 500px;
	padding: 40px 44px 28px;
	border-radius: 3px;
	-webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../i/popup-back.jpg);
}

	.b-popup h2{
		font-size: 36px;
		line-height: 44px;
		margin-bottom: 16px;
	}

	.b-popup h4{
		font-size: 16px;
		line-height: 26px;
	}

	.b-popup form{
		margin: 16px 0;
	}

		.b-popup form .wrap-input{
			float: left;
			width: calc(100%/2 - 12px);
			margin-right: 24px;
		}

		.b-popup form .wrap-input:nth-child(2n){
			margin-right: 0;
		}

			.b-popup form .wrap-input h4{
				margin-bottom: 4px;
			}

			.b-popup form .wrap-input input{
				width: 100%;
			}

	.b-popup .b-btn{
		float: right;
		width: calc(50% - 12px);
		padding: 15px 24px;
		margin-top: 32px;
	}

	.personal-info{
		font-size: 14px;
		color: rgba(255, 255, 255, 0.4);
	}

		.personal-info a{
			color: rgba(255, 255, 255, 0.4);
			border-bottom: 1px solid rgba(255, 255, 255, 0.4);
		}

		.personal-info a:hover{
			border-bottom: 0;
		}

/*----------Bubbles----------*/

.screen-bubbles-item{
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: -7px;
    right: 34px;
	padding: 10px 30px 15px;
	border-radius: 3px;
	background-color: #FFF;
	color: #554e4e;
	font-size: 18px;
	-webkit-transition: transform 300ms ease-out, visibility 300ms ease-out, opacity 300ms ease-out;
    -moz-transition: transform 300ms ease-out, visibility 300ms ease-out, opacity 300ms ease-out;
    -ms-transition: transform 300ms ease-out, visibility 300ms ease-out, opacity 300ms ease-out;
    -o-transition: transform 300ms ease-out, visibility 300ms ease-out, opacity 300ms ease-out;
    transition: transform 300ms ease-out, visibility 300ms ease-out, opacity 300ms ease-out;
}

.screen-bubbles-item:after {
    position: absolute;
    content: "s";
    font-size: 0px;
    width: 0px;
    height: 0px;
    right: -20px;
    top: 9px;
    border: 12px solid transparent;
    border-left: 12px solid #FFF;
}

/*----------FullPage.js-----------*/

.fp-tableCell{
	padding-top: 50px;
}

#fp-nav.right{
	right: auto;
    left: calc(50% + 553px);
}

	#fp-nav ul{
		/*margin-right: -10px;*/
		float: right;
	}

		#fp-nav ul li{
			position: relative;
			width: 31px;
			height: 31px;
			margin: 0;
			margin-bottom: 8px;
		}

			#fp-nav ul li a span{
				vertical-align: middle;
			    display: inline-block;
				margin: 3px 0 0 8px;
				width: 15px;
				height: 15px;
				border-radius: 3px;
				border: 1px solid #FFF;
				background-color: transparent;
				position: static;
				top: auto;
				left: auto;
			}

			#fp-nav ul li a.active span{
				width: 15px;
				height: 15px;
				margin: 3px 0 0 8px;
				-webkit-transform: rotate(45deg);
	   			-moz-transform: rotate(45deg);
	    		-ms-transform: rotate(45deg);
	    		-o-transform: rotate(45deg);
	    		transform: rotate(45deg);
				border-radius: 3px;
				border: 1px solid #FFF;
				background-color: #FFF;
			}

			#fp-nav ul li:hover a span{
			    width: 15px;
			    height: 15px;
				margin: 3px 0 0 8px;
			    -webkit-transform: rotate(45deg);
	   			-moz-transform: rotate(45deg);
	    		-ms-transform: rotate(45deg);
	    		-o-transform: rotate(45deg);
	    		transform: rotate(45deg);
	    		border: 1px solid #fece0b;
			}

			#fp-nav ul li:hover .screen-bubbles-item{
				opacity: 1;
				visibility: visible;
				-webkit-transform: translateX(-10px);
			    -moz-transform: translateX(-10px);
			    -ms-transform: translateX(-10px);
			    -o-transform: translateX(-10px);
			    transform: translateX(-10px);
			}

			#fp-nav ul li:hover a.active span{
			    width: 15px;
			    height: 15px;
				margin: 3px 0 0 8px;
			    border-radius: 3px;
	    		border: 1px solid transparent;
			}

.fancybox-close-small {
    position: absolute;
    right: 15px;
    top: 15px;
}

.fancybox-close-small:after {
    content: "\e901";
    position: absolute;
    left: 8px;
    top: 10px;
    color: #FFF;
    font-size: 25px;
    width: auto;
    height: auto;
    background-color: transparent;
}

.fancybox-close-small:hover:after {
	opacity: 0.7;
    color: #FFF;
    background: transparent;
}

/*-------------------------------*/


@media (-webkit-min-device-pixel-ratio: 1.5) {
	
}	
@media screen and (max-width: 1250px){
	
}
@media screen and (max-width: 1020px){

}